<div class="center jumbotron" align="center" style="background-color:#82FFFF;margin-top:-3%;">
  <h2>新建推送</h2>
  <br>
  <%= render 'form' %>
  <br>
  <%= link_to home_pushes_path, :class => "btn btn-primary btn-lg active" do %>
    <h3>返回</h3>
  <% end %>
</div>


