<div class="center jumbotron" align="center" style="background-color:#82FFFF">
  <h2>导入推送</h2>
  <%= form_tag upload_pushes_path, multipart: true, :role => "form" do %> 
    <div class="uploader blue">
      <input type="text" class="filename" style="height:43px"readonly="readonly"/>
      <input type="button" name="file" class="button" value="选择Excel"/>
      <%= file_field_tag "excel"%>
    </div>
    <br>
    <br>
    <div><%= submit_tag "上传", :class=>'btn btn-default btn-lg'%></div>
  <% end %>
  <br>
  <br>
  <%= link_to home_pushes_path, :class => "btn btn-primary btn-lg active" do %>
    <h4>返回</h4>
  <% end %>
</div>

<script>$(function(){
  $("input[type=file]").change(function(){
    var path = $(this).val().toString();
    // alert(path.split(/\\/).pop());
    path = path.split(/\\/).pop();
    $(this).parents(".uploader").find(".filename").val(path);
  });
  $("input[type=file]").each(function(){
  if($(this).val()==""){$(this).parents(".uploader").find(".filename").val("未选择Excel");}
  });
});
</script>