<p style="margin-top:8%;"></p>

<div class="center jumbotron" align="center" style="background-color:#82FFFF">
<table>
  <tr>
    <td width="400">
      <%= link_to data_charge_index_path, :class => "btn btn-primary btn-lg active" do %>
        <h1>数据管理</h1>
      <% end %>
    </td>
    <td>
      <%= link_to data_static_index_path, :class => "btn btn-primary btn-lg active" do %>
        <h1>数据统计</h1>
      <% end %>
    </td>
  </tr>
</table>
</div>

<div class="center jumbotron" align="center" style="background-color:#82FFFF">
  <%= link_to root_path, :class => "btn btn-primary btn-lg active" do %>
    <h3>返回</h3>
  <% end %>
</div>