<div class="center jumbotron" align="center" style="background-color:#82FFFF;margin-top:-3%;">
  <h2>新建类型</h2>
  <br>
  <br>
  <%= render 'form' %>
  <br>
  <br>
  <%= link_to push_types_path, :class => "btn btn-primary btn-lg active" do %>
    <h3>返回</h3>
  <% end %>
</div>

