<p style="margin-top:8%;"></p>

<div class="center jumbotron" align="center" style="background-color:#82FFFF">
<table>
  <tr>
    <td width="200">
      <%= link_to competitors_path, :class => "btn btn-primary btn-lg active" do %>
        <h1>公司</h1>
      <% end %>
    </td>
    <td width="200">
      <%= link_to home_pushes_path, :class => "btn btn-primary btn-lg active" do %>
        <h1>消息</h1>
      <% end %>
    </td>
    <td>
      <%= link_to push_types_path, :class => "btn btn-primary btn-lg active" do %>
        <h1>类型</h1>
      <% end %>
    </td>
  </tr>
</table>
</div>

<div class="center jumbotron" align="center" style="background-color:#82FFFF">
  <%= link_to skips_index_path, :class => "btn btn-primary btn-lg active" do %>
    <h3>返回</h3>
  <% end %>
</div>