<p style="margin-top:8%;"></p>
<div class="center jumbotron" align="center" style="background-color:#82FFFF">
<%= link_to skips_index_path, :class => "btn btn-primary btn-lg active" do %>
  <h1>For My Girl</h1>
<% end %>
</div>


<script type="text/javascript">
  // $('html').click(function(){
  //   alert(1);
  //   // $.get(url: "/competitors/come");
  //   $.get("/skips", {data:1}, function(data){
  //     $(document).find("html").html(data);
  //   });
  // });
</script>