<div class="container">
  <%= form_tag "/push_types_charts/index", :method => 'get' do%>
    <%= render '/common/search_header' %>
  <% end %>
</div>

<%= high_chart("some_id", @chart_competitor) %>
<%= high_chart("another_id", @chart_month) %>